<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>新闻列表</title>
  </head>

  <body>
    <ul>
      <%for(let i=0; i < data.length ; i ++){%>
      <li>
        <a href="/newscontent?aid=<%=data[i].aid%>"> <%=data[i].title%> </a>
        <span>---<%= helper.formatTime(data[i].dateline)%></span>
      </li>
      <%}%>
    </ul>
  </body>
</html>
